
h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    background-color: #00b300;
    font-family: DFKai-sb;
    font-size: 26px;
    font-weight: 600px;
    line-height: 1.3;
}

.row {
    border: 1px solid white;
    
}

div .container-fluid .row .col-xs-12 col-md-2  img{
    padding: -15px;
}
